/* boxModel */
  /* *{
        margin: 0;
        padding: 0;
    }
    #one{
        background-color: red;
        color: red;
        padding: 9%;
        margin-right: 78%;
    }
    #two{
        padding: 4.5%;
    }
    #three{
        color: red;
        background-color: red;
        padding: 7.2%;
        margin-right: 78%;
    } */


