*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
nav{
    margin-top: 5%;
    border-style: solid;
    border-width: 2%;
    border-color: white;
    margin: 5%;
}
h1{
    display: inline;
    margin: 2%;
    margin-right: 53%;
}
ul,li{
    display: inline;
    margin-left: 5%;
}